html, body {
    position: relative;
    height: 100%;
  }
  body {
    background-color: #ebf5fc;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }
  .loginWrapper {
    background-color: #ebf5fc;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.8), 5px 5px 10px rgba(0, 0, 0, 0.1);
  }
  .loginWrapper h4 {
    color: #ababab;
  }
  .loginWrapper .inputBox label {
    color: #787878;
  }
  .loginWrapper .inputBox input {
    border-radius: 40px;
    box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.8), inset 5px 5px 10px rgba(0, 0, 0, 0.1);
    border: 0 none;
    background: #ebf5fc;
  }
  .loginWrapper .inputBox input[type="submit"] {
    border-radius: 40px;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.8), 5px 5px 10px rgba(0, 0, 0, 0.1);
    border: 0 none;
    background: #ebf5fc;
    height: 40px;
    color: #787878;
  }
  .loginWrapper .inputBox input[type="submit"]:active {
    box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.8), inset 5px 5px 10px rgba(0, 0, 0, 0.1);
    color: #ff4747;
  }
  .loginWrapper p a {
    color: #ff4747;
  }
  